.full-width {
    width: 40% !important;
    margin-left: 30%;
    margin-right: 30%;
}

.table-div {
    margin-top: 20px;
}



.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: rgb(217, 237, 247);
}
